/* -------------------------------BODY */
/* * {
  border: solid red;
} */
html,
body {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #eaeaf4;
  display: flex;
  align-items: stretch;
  min-height: 100%;
}

img {
  height: 28px;
  width: 28px;
}

/* -------------------------------LEFT NAV SECTION */
.left-nav {
  background-color: #1f1f3d;
  width: 400px;
  height: auto;
}

.ideabox-title {
  color: #e9e9f3;
  margin-left: 12%;
}

.starred-border {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #5356a4;
}

.filter {
  color: #bfbfdd;
  margin-left: 12%;
}

.starred-btn {
  background-color: #5356a4;
  color: #e9e9f3;
  font-weight: bold;
  font-size: 20px;
  border: 1px;
  border-style: solid;
  border-color: #1f1f3d;
  border-radius: 5px;
  margin-left: 12%;
  margin-bottom: 10%;
  height: 12%;
  width: 80%;
  vertical-align: text-bottom;
}
/* -------------------------------FORM SECTION */
.right-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.form-section {
  background-color: #a9aad2;
  display: flex;
  flex-grow: 3;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* align-content: space-between; */
  column-gap: 30px;
  height: 45%;
}

.user-input {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 50%;
}

.title-input {
  /* rename class-Piper */
  display: flex;
  flex-direction: column;
}

#input-title {
  height: 30px;
}

#input-body {
  height: 90px;
}

.body-input {
  /* rename class-Piper */
  display: flex;
  flex-direction: column;
}

label {
  color: #1f1f3d;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

input {
  border: 1px;
  border-style: solid;
  border-color: #1f1f3d;
  border-radius: 5px;
}

.search {
  border: 1px;
  border-style: solid;
  border-color: #1f1f3d;
  border-radius: 5px;
  height: 40px;
  display: flex;
}

.search-img {
  background-color: #353567;
  height: 100%;
  /* margin-left: 5px; */
  padding: 0px 5px;
}

.input-search {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 95%;
  width: 100%;
  border: none;
}

.save-btn {
  background-color: #353567;
  color: #e9e9f3;
  font-weight: bold;
  font-size: 20px;
  border: 1px;
  border-style: solid;
  border-color: #1f1f3d;
  border-radius: 5px;
  height: 40px;
}

/* -------------------------------CARD SECTION */
.saved-ideas {
  background-color: #eaeaf4;
  width: 100%;
}
.single-card {
  height: 65px;
  width: 200px;
  margin-left: 10px;
  border: 1px;
  border-style: solid;
  border-color: #1f1f3d;
}
.card-top-bar {
  background-color: #1f1f3d;
}

.card-body {
  background-color: #ffffff;
}

.card-body h1 {
  color: #1f1f3d;
  font-weight: bold;
}

.card-body p {
  color: #1f1f3d;
  font-weight: light;
}

.card-bottom-bar {
  background-color: #5356a4;
}

.comment {
  color: #e9e9f3;
  font-weight: bold;
}

/* -------------------------------UTLITIES */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/* -------------------------------FONTS
header text:
    font-family: Open Sans;
    font-weight: bold;

body and label text:
    font-family: Open Sans;
    font-weight: light;

-------------------------------BACKGROUND COLOURS
    background-color: #1f1f3d;
    background-color: #a9aad2;
    background-color: #eaeaf4;

-------------------------------IDEA BOX
 top:
    background-color: #1f1f3d;
    color: #1f1f3d;

middle:
    background-color: #ffffff;
    color: #1f1f3d;

bottom:
    background-color: #5356a4;
    color: #e9e9f3;

-------------------------------LEFT NAVIGATION
header1:
    color: #e9e9f3;

line break:
    color: #353567;

header 2:
    color: #bfbfdd;

button:
    background-color: #5356a4;
    color: #e9e9f3;

background:
    background-color: #1f1f3d;

*/
